<div>
    <h2>Welcome, {{name}}!</h2>
</div>
<div>
    <h3>Create a New Post:</h3>
</div>
<form class="form new-post-form">
    <div>
        <label for="post-title">post-title:</label>
        <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
        <label for="post-desc">description:</label>
        <textarea id="post-desc" name="post-desc"></textarea>
    </div>
    <div class="post-list">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
<h3>Current posts:</h3>
{{#if Posts.length}}

{{#each Posts as |post|}}
<div>
    <h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
</div>
<div>
    <button class="post-id" post-id="{{post.id}}">DELETE</button>
</div>
{{/each}}
{{/if}}
<script src="./js/profile.js"></script>